<%layout("layouts/boilerplate") %>

<div class="row mt-1">

    <div class="alert alert-danger col-6, offset-1" role="alert">

        <h4 class="alert-heading"><%= err.message%></h4>
        
    </div>
</div>